p{
    margin: 0 !important;
}
.bg-secondary-color{
    background-color: #F05A2F;
}
.bg-praymary-color{
    background-color: #48B193;
}
.bg-lite-dark{
    background: #F7F7F7 !important;
}
.praymary-color{
    color: #48B193;
}
.font-xs{
    font-size: 14px;
}
.font-sm{
    font-size: 16px;
}
.payment-status-w{
    width: 70px;
}
.invoice-list-doted-h{
    padding: 6px;
}
.product-img-h{
    height: 32px;
    width: 32px;
}
.my-border-e{
    border-right: 2px dashed gray;
}
.border-bottom-dotted {
    border-bottom: 1px dotted black;
    width: 100%;
    font-weight: 400;
}
.border-top-2{
    border-top: 2px solid #4E4A4B;
}
.font-width-medium{
    font-weight: 500;
}